<ion-header>
    <!--<ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (tap)="openMenu()">
        tokyo<ion-icon name="arrow-down"></ion-icon>
      </button>
        </ion-buttons>
        <ion-searchbar></ion-searchbar>
        <ion-buttons end>
            <button ion-button>
        <ion-icon name="alert"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>-->
    <ion-navbar>
        <ion-title (tap)="goTop()">
            {{ 'Events' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="product">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-slides class="ion-slides-class">
        <ion-slide>
            <ion-grid>
                <ion-row class="menuClass1" *ngFor="let row of grid">
                    <ion-col width-19 class="ion-col-class" *ngFor="let menuItem of row">
                        <!-- <button class="roundButton" primary (tap)="openProductListsPage(menuItem)" [ngStyle]="{'backgroundColor': menuItem.color}">
                  <ion-icon class="ion-icon-class" [name]="menuItem.icon"></ion-icon>
                </button>
                        <div class="menuText">
                            {{menuItem.name}}
                        </div> -->
                        <div style="margin-left: 4vw;">
                            <text-avatar class="roundButton" [text]="translateMenu(menuItem.name)" [color]="menuItem.color" (tap)="openProductListsPage(menuItem)"></text-avatar>
                        </div>
                        <div class="menuText">
                            {{translateMenu(menuItem.name)}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>


    <ion-list *ngFor="let product of products; let i=index" no-lines no-paddings>
        <div style="position:relative">
            <img class="bigImage" [src]="product.imageURL" (tap)="openProductDetailsPage(product)">
            <div class="fab-bot-left">
                <span class="fab-bot-text">{{product.reviewNumber}}</span>
                <ion-icon name='chatboxes'></ion-icon>
            </div>

            <div class="fab-bot-right">
                <span class="fab-bot-text">{{product.userNumber}}/{{product.userNumberLimit}}</span>
                <ion-icon name='person'></ion-icon>
            </div>

            <a class="fab-favorite" (tap)="favoriteProduct(product)">
                <ion-icon name='heart-outline' *ngIf="alreadyLiked(product) == false"></ion-icon>
                <ion-icon name='heart' *ngIf="alreadyLiked(product) == true" style="color:pink"></ion-icon>
            </a>
            <div class="fab-bot-middle">
                {{product.productName}} {{product.serviceProvider.nickname}} {{product.pricing}}
            </div>
        </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- <ion-list [virtualScroll]="products" [approxItemHeight]="'240px'" [bufferRatio]="3" no-lines no-paddings>
        <div *virtualItem="let product">
            <a>
                <ion-img class="bigImage" [src]="product.imageURL" (tap)="openProductDetailsPage(product)"></ion-img>
                <div class="fab-bot-left">
                    <span class="fab-bot-text">{{product.reviewNumber}}</span>
                    <ion-icon name='chatboxes'></ion-icon>
                </div>

                <div class="fab-bot-right">
                    <span class="fab-bot-text">{{product.userNumber}}/{{product.userNumberLimit}}</span>
                    <ion-icon name='person'></ion-icon>
                </div>

                <a class="fab-favorite" (tap)="favoriteProduct(product)">
                    <ion-icon name='heart-outline' *ngIf="alreadyLiked(product) == false"></ion-icon>
                    <ion-icon name='heart' *ngIf="alreadyLiked(product) == true" style="color:pink"></ion-icon>
                </a>
                <div class="fab-bot-middle">
                    {{product.productName}} {{product.serviceProvider.nickname}} {{product.pricing}}
                </div>
            </a>
        </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->


</ion-content>
