<ion-header>
    <ion-navbar hideBackButton>
        <!--<ion-buttons start>
        </ion-buttons>-->

        <ion-title (tap)="goTop()">
            {{ 'Pros' | translate }}
        </ion-title>
        <!--
        <ion-buttons end class="rightNavButton">
            <button ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
        </ion-buttons>-->
    </ion-navbar>

</ion-header>



<ion-content #popoverContent class="serviceProvider">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-slides class="ion-slides-class" *ngIf="grid.length>0">
        <ion-slide no-padding no-margin>
            <ion-grid>
                <ion-row class="menuClass1" *ngFor="let row of grid">
                    <ion-col width-19 class="ion-col-class" *ngFor="let menuItem of row">
                        <div style="margin-left: 4vw;">
                            <text-avatar class="roundButton" [text]="translateMenu(menuItem.name)" [color]="menuItem.color" (tap)="openServiceProviderListsPage(menuItem)"></text-avatar>
                        </div>
                        <div class="menuText">
                            {{translateMenu(menuItem.name)}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>


    <ion-list no-lines no-paddings>
        <div style="position: relative;" *ngFor="let serviceProvider of serviceProviders">
            <a (tap)="openServiceProviderDetailsPage(serviceProvider)">
                <img class="bigImage" [src]="serviceProvider.imageURL">
                <div class="fab-bot-middle">{{serviceProvider.nickname}}{{serviceProvider.certificateArray}}</div>
            </a>
            <a class="fab-favorite" (tap)="favoriteServiceProvider(serviceProvider)">
                <ion-icon name='heart-outline' *ngIf="alreadyLikedServiceProvider(serviceProvider) == false"></ion-icon>
                <ion-icon name='heart' *ngIf="alreadyLikedServiceProvider(serviceProvider) == true" style="color:pink"></ion-icon>
            </a>

            <div class="fab-bot-left">
                <span class="fab-bot-text">{{serviceProvider.reviewNumber}}</span>
                <ion-icon name='chatboxes'></ion-icon>
            </div>

            <div class="fab-bot-right">
                <span class="fab-bot-text" *ngIf="serviceProvider.pricePerHour">{{serviceProvider.pricePerHour}}/{{ 'h' | translate }}</span>
            </div>

        </div>
    </ion-list>

    <!-- <ion-list [virtualScroll]="serviceProviders" [approxItemHeight]="'220px'" [bufferRatio]="3" no-lines no-paddings>

        <div *virtualItem="let serviceProvider">
            <div style="position: relative;">
                <a (tap)="openServiceProviderDetailsPage(serviceProvider)">
                    <ion-img class="bigImage" [src]="serviceProvider.imageURL"></ion-img>
                    <div class="fab-bot-middle">{{serviceProvider.nickname}}{{serviceProvider.certificateArray}}</div>
                </a>
                <a class="fab-favorite" (tap)="favoriteServiceProvider(serviceProvider)">
                    <ion-icon name='heart-outline' *ngIf="alreadyLikedServiceProvider(serviceProvider) == false"></ion-icon>
                    <ion-icon name='heart' *ngIf="alreadyLikedServiceProvider(serviceProvider) == true" style="color:pink"></ion-icon>
                </a>

                <div class="fab-bot-left">
                    <span class="fab-bot-text">{{serviceProvider.reviewNumber}}</span>
                    <ion-icon name='chatboxes'></ion-icon>
                </div>

                <div class="fab-bot-right">
                    <span class="fab-bot-text" *ngIf="serviceProvider.pricePerHour">{{serviceProvider.pricePerHour}}/{{ 'h' | translate }}</span>
                </div>

            </div>
        </div>
    </ion-list> -->

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
