<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'My Information' | translate }}
        </ion-title>
        <ion-buttons end>
            <button [disabled]=buttonDisabled ion-button (tap)="changeInformationValue()">{{ 'Save' | translate }}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="settings">


    <ion-list>

        <div *ngIf="informationName == 'imageURL'">
            <ion-item>
                <ion-label>{{ 'Head Image' | translate }}</ion-label>
                <!-- <img style="object-fit:cover; border-radius:5%;" src="{{informationValue}}"> -->
                <button [disabled]=buttonDisabled ion-button item-right (tap)="uploadImageTrigger()">Upload</button>
            </ion-item>
            <input #Select [hidden]=true type="file" accept="image/*" (change)="uploadImage($event)">
            <ion-card>
                <img src="{{informationValue}}">
            </ion-card>
        </div>


        <ion-item *ngIf="informationName == 'nickname'">
            <ion-label>{{ 'Nickname' | translate }}</ion-label>
            <ion-input class="textAlignRight" type='text' item-right [(ngModel)]="informationValue"></ion-input>
        </ion-item>

        <!-- <ion-item *ngIf="informationName == 'category'">
            <ion-label>{{ 'Service Type' | translate }}</ion-label>
            <ion-select [(ngModel)]="informationValue" placeholder="" multiple="true">
                <ion-option value="guide">{{ 'Guide' | translate }}</ion-option>
                <ion-option value="teach">{{ 'Teach' | translate }}</ion-option>
                <ion-option value="housework">{{ 'Housework' | translate }}</ion-option>
                <ion-option value="Art">{{ 'Art' | translate }}</ion-option>
                <ion-option value="beauty">{{ 'Beauty' | translate }}</ion-option>
                <ion-option value="jobHunt">{{ 'Job Hunt' | translate }}</ion-option>
                <ion-option value="schoolFind">{{ 'School Find' | translate }}</ion-option>
                <ion-option value="bizAdvise">{{ 'Biz Advise' | translate }}</ion-option>
                <ion-option value="law">{{ 'Law' | translate }}</ion-option>
                <ion-option value="others">{{ 'Others' | translate }}</ion-option>
            </ion-select>
        </ion-item> -->

        <div *ngIf="informationName == 'category'">
            <ion-item>
                <ion-label>*{{ 'Service Type' | translate }}</ion-label>

                <ion-select multiple="true" (ionChange)="category1Selected()" [(ngModel)]="selected1" placeholder="{{ 'Tap to choose' | translate }}" required>
                    <ion-option *ngFor="let item of options" [value]="item">{{item.main | translate}}{{item.sub | translate}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-list>
                <ion-list-header>
                    {{ 'Service Type' | translate }}
                </ion-list-header>
                <ion-item *ngFor="let item of informationValue; let i=i ndex">
                    <ion-label>{{item.main | translate}}{{item.sub | translate}}</ion-label>
                    <ion-note></ion-note>
                </ion-item>
            </ion-list>

        </div>

        <div *ngIf="informationName=='introduction'">
            <ion-item>
                <ion-label>{{ 'Introduction' | translate }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-textarea rows="6" [(ngModel)]="informationValue"></ion-textarea>
            </ion-item>
        </div>

        <div *ngIf="informationName=='contact'">
            <ion-item>
                <ion-label>{{ 'Contact Info' | translate }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-textarea rows="6" [(ngModel)]="informationValue"></ion-textarea>
            </ion-item>
        </div>

        <div *ngIf="informationName=='currency'">
            <ion-item>
                <ion-label primary>*{{ 'Currency' | translate }}</ion-label>
                <ion-select [(ngModel)]="informationValue" placeholder="" multiple="false">
                    <ion-option value="jpy">{{ 'JPY' | translate }}</ion-option>
                    <ion-option value="rmb">{{ 'RMB' | translate }}</ion-option>
                </ion-select>
            </ion-item>
        </div>

        <div *ngIf="informationName=='pricePerHour'">
            <ion-item>
                <ion-label>{{ 'Price Per Hour' | translate }}</ion-label>
                <ion-input class="textAlignRight" type='number' item-right [(ngModel)]="informationValue"></ion-input>
            </ion-item>
        </div>

        <ion-item *ngIf="informationName=='sex'">
            <ion-label>{{ 'Sex' | translate }}</ion-label>
            <ion-select [(ngModel)]="informationValue" placeholder="{{informationValue}}">
                <ion-option value="1">{{ 'Male' | translate}}</ion-option>
                <ion-option value="2">{{ 'Female' | translate}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="informationName=='age'">
            <ion-label>{{ 'Age' | translate }}</ion-label>
            <ion-input class="textAlignRight" type='text' item-right [(ngModel)]="informationValue"></ion-input>
        </ion-item>

        <ion-item *ngIf="informationName=='province'">
            <ion-label>{{ 'Province' | translate }}</ion-label>
            <ion-input class="textAlignRight" type='text' item-right [(ngModel)]="informationValue"></ion-input>
        </ion-item>

        <ion-item *ngIf="informationName=='country'">
            <ion-label>{{ 'Country' | translate }}</ion-label>
            <ion-input class="textAlignRight" type='text' item-right [(ngModel)]="informationValue"></ion-input>
        </ion-item>
        <!--
    <ion-item  *ngIf="informationName==t rue" >
      <label >head image</label>
      <input #label3 type=" file" accept="image/*" (change)="uploadImage($event)">
    </ion-item> -->

        <!-- <ion-item  *ngIf="informationName==t rue" >
      <ion-label >Password</ion-label>
      <ion-input class="textAlignRight" type='text' item-righttype="password" (tap)="changeValue(password)>}}</ion-input>
            </ion-item>

            <ion-item *ngIf="informationName == true">
                <ion-label>Password</ion-label>
                <ion-input class="textAlignRight" type='text' item-righttype="password" (tap)="changeValue(password)>}}</ion-input>
    </ion-item> -->

        <div *ngIf=" informationName=='certificates'">
            <ion-list>
                <div *ngFor="let certificate of certificates; let i = index">
                    <ion-item>
                        <ion-label>{{ 'Service Type' | translate }}</ion-label>
                        <ion-select [(ngModel)]="certificate.category" placeholder="certificate.category" multiple="false">
                            <ion-option value="guide">{{ 'Guide' | translate }}</ion-option>
                            <ion-option value="teach">{{ 'Teach' | translate }}</ion-option>
                            <ion-option value="housework">{{ 'Housework' | translate }}</ion-option>
                            <ion-option value="Art">{{ 'Art' | translate }}</ion-option>
                            <ion-option value="beauty">{{ 'Beauty' | translate }}</ion-option>
                            <ion-option value="jobHunt">{{ 'Job Hunt' | translate }}</ion-option>
                            <ion-option value="schoolFind">{{ 'School Find' | translate }}</ion-option>
                            <ion-option value="bizAdvise">{{ 'Biz Advise' | translate }}</ion-option>
                            <ion-option value="law">{{ 'Law' | translate }}</ion-option>
                            <ion-option value="others">{{ 'Others' | translate }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{ 'Certificate Name' | translate }}</ion-label>
                        <ion-input class="textAlignRight" [(ngModel)]="certificate.id"></ion-input>
                    </ion-item>
                    <ion-item>
                        <button [disabled]=buttonDisabled ion-button item-right (tap)="uploadCertificateImageTrigger(i)">{{ 'Upload Certificate' | translate }}</button>
                        <input #Select2 [hidden]=true type="file" accept="image/*" (change)="uploadCertificateImage($event,certificate)">
                        <ion-thumbnail item-left color='dark'>
                            <img style="object-fit:cover; border-radius:5%;" src="{{certificate.imageURL}}">
                        </ion-thumbnail>
                    </ion-item>
                </div>
            </ion-list>

            <ion-item>
                <ion-label>{{ 'Service Type' | translate }}</ion-label>
                <ion-select [(ngModel)]="newCertificate.category" placeholder="" multiple="false">
                    <ion-option value="guide">{{ 'Guide' | translate }}</ion-option>
                    <ion-option value="teach">{{ 'Teach' | translate }}</ion-option>
                    <ion-option value="housework">{{ 'Housework' | translate }}</ion-option>
                    <ion-option value="Art">{{ 'Art' | translate }}</ion-option>
                    <ion-option value="beauty">{{ 'Beauty' | translate }}</ion-option>
                    <ion-option value="jobHunt">{{ 'Job Hunt' | translate }}</ion-option>
                    <ion-option value="schoolFind">{{ 'School Find' | translate }}</ion-option>
                    <ion-option value="bizAdvise">{{ 'Biz Advise' | translate }}</ion-option>
                    <ion-option value="law">{{ 'Law' | translate }}</ion-option>
                    <ion-option value="others">{{ 'Others' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'Certificate Name' | translate }}</ion-label>
                <ion-input class="textAlignRight" item-right [(ngModel)]="newCertificate.id"></ion-input>
            </ion-item>

            <ion-item>
                <button [disabled]=buttonDisabled ion-button item-right (tap)="uploadNewCertificateImageTrigger()">{{ 'Upload Certificate' | translate }}</button>
                <input #Select3 [hidden]=true type="file" accept="image/*" (change)="uploadNewCertificateImage($event,certificate)">
                <ion-thumbnail item-left color='dark'>
                    <img style="object-fit:cover; border-radius:5%;" src="{{newCertificate.imageURL}}">
                </ion-thumbnail>
            </ion-item>
        </div>
    </ion-list>

</ion-content>
