<ion-header>
    <!--<ion-navbar>
        <ion-title>Details Page</ion-title>
        <ion-buttons end>
            <button ion-button (tap)="shareActionSheet()">
      <ion-icon name="share-alt"></ion-icon>
    </button>
        </ion-buttons>
    </ion-navbar>-->

    <ion-navbar>
        <ion-title (tap)="goTop()">{{serviceDetails.service.serviceName}}</ion-title>
        <ion-buttons end>
            <button ion-button (tap)="advertise()">
  <ion-icon name="share-alt"></ion-icon>
</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content #popoverContent class="serviceDetails">

    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher> -->

    <ion-card class="adv-map">
        <div style="position: relative">
            <ion-slides>
                <ion-slide>
                    <!-- <div class="videoWrapper">
                        <iframe class="youtubeVideo" [src]="url" frameborder="0" allowfullscreen></iframe>
                    </div> -->
                    <video *ngIf="serviceDetails.service.videoURL" width="100%" [src]="serviceDetails.service.videoURL" [poster]="serviceDetails.service.imageURL" type="video/mp4" controls="controls" preload="none">
                    </video>
                    <img *ngIf="!serviceDetails.service.videoURL" class="bigImage" [src]="serviceDetails.service.imageURL">
                    <!-- <img class="bigImage" [src]="service.creator.imageURL"> -->
                    <a class="fab-favorite" (tap)="favoriteService(service)">
                        <ion-icon name='heart-outline' [hidden]='alreadyLiked(service,validation)'></ion-icon>
                        <ion-icon name='heart' [hidden]='!alreadyLiked(service,validation)' style="color:pink"></ion-icon>
                    </a>
                </ion-slide>
            </ion-slides>
            <a class="fab-serviceProvider" (tap)="openJobOfferDetailsPage(service)">
                <ion-avatar>
                    <ion-img class="roundServiceProviderButton" [src]="service.creator.imageURL"></ion-img>
                </ion-avatar>
            </a>
        </div>
        <ion-item>
            <h2>{{ 'Recruiter' | translate }}:{{service.creator.nickname}}</h2>
            <h3>{{serviceDetails.likedBy.length}}{{ 'Likes' | translate }} {{service.reviewNumber}}{{ 'Reviews' | translate }}</h3>
            <h3>{{(service.serviceProvider || []).length}}/{{service.serviceProviderNumberLimit}} {{ 'Applicants' | translate }}</h3>
            <h3>{{ 'Reward (Recruiter pay after service face to face)' | translate }}:{{service.reward || 0}}{{ service.currency | translate }}</h3>
            <h3>{{ 'Deposit (Applicant pay, refund later)' | translate }}:{{service.price || 0}}{{ service.currency | translate }}</h3>

        </ion-item>
        <!--<ion-item actions>
            <span item-left>{{service.retail}}</span>
            <span item-left [hidden]="service.list==undefined"> {{(service.list - service.retail)/service.list | percent:'2.1-1'}} off</span>
            <span item-right>100already purchased</span>
        </ion-item>-->

        <ion-card-content>
            <h3>{{serviceDetails.introduction}}</h3>
        </ion-card-content>
        <!--
        <ion-row style="padding: 0 0.5em">

            <ion-col>
                <ion-icon name='thumbs-up'></ion-icon>
                ?Likes
            </ion-col>
            <ion-col text-middle>
                <ion-icon name='text'></ion-icon>
                ?Reviews
            </ion-col>
            <ion-col text-right>
                <ion-icon name='star'></ion-icon>
                4.8
                <button ion-button clear style="padding: 0 0.3em" (tap)="showReviewBox=!showReviewBox">
            <ion-icon name='text'></ion-icon>
            ?Reviews
          </button>

            </ion-col>
        </ion-row>-->


        <ion-row style="padding: 0 0.5em">
            <ion-col>

            </ion-col>
            <ion-col text-middle>
                <button ion-button clear style="padding: 0 0.3em" (tap)="openServiceReviewPage()">
            <ion-icon name='text'></ion-icon>
            {{ 'Review' | translate }}
          </button>
            </ion-col>
            <ion-col text-right>
                <button *ngIf="serviceDetails.link" ion-button clear style="padding: 0 0.3em" (tap)="purchaseService()">
            <ion-icon name='link'></ion-icon>
            {{ 'Purchase' | translate }}
          </button>
            </ion-col>
        </ion-row>
    </ion-card>




    <!-- <div [hidden]="!showReviewBox" style="padding: 0.5em">
        <div no-padding>
            <rating [(ngModel)]="rating"></rating>
        </div>
        <div>
            <ion-textarea placeholder="Input review here" [(ngModel)]="review" style="border-bottom-width: 1px"></ion-textarea>
        </div>

        <button ion-button style="float: right" (tap)="openServiceReviewPage()">Review</button>

    </div> -->


    <ion-card class="highLightsCard">
        <div class="spaceLine"></div>
        <ion-list>
            <ion-item *ngFor="let reviewContent of serviceDetails.review">
                <p style="float:right">{{reviewContent.created | date:'yyyy/MM/dd hh:mm:ss'}}</p>
                <p>{{reviewContent.id}}</p>
                <h3>{{reviewContent.text}}</h3>
            </ion-item>
        </ion-list>
    </ion-card>


    <div #popoverText class="text-to-change">
        <div> </div>
    </div>



    <!-- (tap)="joinEvent(reservation)" -->
    <ion-card *ngFor="let reservation of serviceDetails.reservationDetails; let i = index">
        <div style="position: relative; height: 9rem;">

            <ion-item style="width: 80%">
                <!-- <ion-label>{{ 'Start Time' | translate }}</ion-label> -->
                <ion-datetime displayFormat="YY/MM/DD HH:mm" [(ngModel)]="reservation.startTime"></ion-datetime>
                ~
                <ion-datetime displayFormat="MM/DD HH:mm" [(ngModel)]="reservation.endTime"></ion-datetime>

            </ion-item>

            <ion-item style="width: 80%">
                <ion-label>{{ 'Service Provider Number Limit' | translate }}:{{reservation.serviceProvider.length || 0}}/{{reservation.serviceProviderNumberLimit}}</ion-label>
            </ion-item>

            <ion-checkbox *ngIf="reservation.serviceProvider.length<reservation.serviceProviderNumberLimit" [(ngModel)]="joinOrNot[i]" (ionChange)="updateEvent(reservation,i)" style="bottom: 6.5rem;left: 85%;"></ion-checkbox>
        </div>

    </ion-card>
</ion-content>

<ion-footer *ngIf="serviceDetails.reservationDetails.length>0" class="nextStep">
    <ion-toolbar (tap)="joinEvent()">
        <ion-title>{{ 'Join Event' | translate }}</ion-title>
    </ion-toolbar>
</ion-footer>
