<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'Settings' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="settings">


    <div [hidden]="alreadyLoggedIn">
        <ion-list>

            <ion-item>
                <ion-label floating>{{ 'Username' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="validation.id"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>{{ 'Password' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="validation.password"></ion-input>
            </ion-item>

            <div padding>
                <button ion-button clear block (tap)="login()">{{ 'Login' | translate }}</button>
            </div>

        </ion-list>

        <ion-list>
            <a ion-item (tap)="openOauth('facebook')">
                <ion-icon color="primary" name="logo-facebook">&nbsp;Facebook</ion-icon>
            </a>
            <a ion-item (tap)="openOauth('twitter')">
                <ion-icon color="primary" name="logo-twitter">&nbsp;Twitter</ion-icon>
            </a>
            <a ion-item (tap)="openOauth('wechat')">
                <ion-icon color="primary" name="logo-facebook">&nbsp;Wechat</ion-icon>
            </a>
            <a ion-item (tap)="openOauth('google')">
                <ion-icon color="primary" name="logo-google">&nbsp;Google</ion-icon>
            </a>
        </ion-list>
        <div padding>
            <button ion-button clear primary block (tap)="register()">{{ 'Register' | translate }}</button>
        </div>
    </div>


    <div [hidden]="!alreadyLoggedIn">
        <div padding>
            <!-- <div class="welcomeMessage">
        Welcome, {{nicknameOrUsername}}!
      </div> -->

            <a ion-item (tap)="myInformation()">
                <ion-thumbnail item-left>
                    <img style="object-fit:cover; border-radius:5%;" src="{{validation.imageURL}}">
                </ion-thumbnail>
                <h2>{{validation.nickname}} </h2>
                <p>{{validation.province}}</p>
            </a>

            <ion-list>
                <ion-list-header>
                    {{ 'User Function' | translate }}
                </ion-list-header>
                <a ion-item (tap)="myReservations()">
                    <ion-icon color="primary" name="cart">&nbsp;{{ 'Reservation' | translate }}</ion-icon>
                </a>
                <a ion-item (tap)="myFavorites()">
                    <ion-icon color="primary" name="heart">&nbsp;{{ 'Favorite Events' | translate }}</ion-icon>
                </a>
                <a ion-item (tap)="myFavoriteArtists()">
                    <ion-icon color="primary" name="heart">&nbsp;{{ 'Favorite Pros' | translate }}</ion-icon>
                </a>
                <!-- <a ion-item (tap)="myCoupons()">
          <ion-icon color="primary" name="color-wand">&nbsp;My Coupons</ion-icon>
        </a>
        <a ion-item (tap)="myFriends()">
          <ion-icon color="primary" name="people">&nbsp;My Friends</ion-icon>
        </a> -->
            </ion-list>

            <ion-list>
                <ion-list-header>
                    {{ 'Pro Function' | translate }}
                </ion-list-header>
                <a ion-item (tap)="myOffers()">
                    <ion-icon color="primary" name="cart">&nbsp;{{ 'My Schedule' | translate }}</ion-icon>
                </a>
                <a ion-item (tap)="myServices()">
                    <ion-icon color="primary" name="cart">&nbsp;{{ 'My Events' | translate }}</ion-icon>
                </a>


            </ion-list>
            <div padding *ngIf="this.validation.userType == 'user'">
                <button ion-button full clear (tap)="applyForPro()">{{ 'Apply for Pro possition' | translate }}</button>
            </div>
            <div padding *ngIf="this.validation.userType == 'candidatePro'" text-center>
                {{ 'Request is under review' | translate }}
            </div>
            <div padding>
                <button ion-button full clear (tap)="logout() ">{{ 'Logout' | translate }}</button>
            </div>
        </div>
    </div>



</ion-content>
