page-myFavorites {
  z-index: 1;
  .menuClass1 {
      margin-bottom: 3vw;
  }
  .grid{
    padding: 0 2.5vw;
    margin-top: 2vw;
  }
  .menuText{
    font-size: 3.6vw;
        width: 19vw;
        text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  }
  text-avatar, text-avatar::after {
    width: 12vw;
    height: 12vw;
    border-radius: 6vw;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 8vw;
  }
  .ion-slides-class {
      height: 44vw;
  }
  .swiper-pagination {
      bottom: 1px;
  }
  .ion-col-class {
      margin: 0;
      padding: 0;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      font-size: 8vw;
      .icon{
        font-size: 13vw;
      }
  }
  .bigImage {
      height: 56.25vw;
      width: 100vw;
      object-fit: cover;

  }
  ion-img img{
    height: 56.25vw;
    width:100vw;
    object-fit: cover;
  }
  .fab-favorite {
      position: absolute;
      background-color: transparent;
      top: 0vw;
      right: 3vw;
      font-size:8vw;
      color: white;
      z-index: 50;
  }
  .fab-bot-left {
    text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
    position: absolute;
      background-color: green;
      opacity: 0.7;
      bottom: 3px;
      font-size: 4.5vw;;
      padding: 0.1vw 1vw;
      text-align: center;
      color: white;
      z-index: 50;
      max-width: 20%;

  }
  .fab-bot-text {
      opacity: 1;
      color: white;
      z-index: 50;
  }
  .fab-bot-middle {
    text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
      position: absolute;
      bottom: 8vw;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 7vw;
      padding: 0.1vw 1vw;
      font-weight: bold;
      color: #fff;
      background-color: #a9a9a9;
      text-align: center;
          max-width: 100%;
          z-index: 150;

  }
  .fab-bot-right {
    text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
    position: absolute;
      background-color: green;
      opacity: 0.7;
      bottom: 3px;
      float:right;
      right:0px;
      font-size: 4.5vw;
      padding: 0.1vw 1vw;
      text-align: center;
      color: white;
      z-index: 50;
      max-width: 20%;
  }
  .roundButton {
      width: 12vw;
      height: 12vw;
      border-radius: 12vw;
      border: 0;
      overflow: hidden;
      color: white;
  }
  .roundButton:hover {
      width: 12vw;
      height: 12vw;
      border-radius: 12vw;
      box-shadow: 0 0 3vw gray;
  }
  .flexWrap {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  ion-avatar img {
      max-width: 3.2em;
      max-height: 3.2em;
      width: 3.2em;
      height: 3.2em;
      border-radius: 1.6em;
  }
  ion-card {
      position: relative;
      text-align: center;
  }
  .button-icon-only ion-icon {
      font-size: 2.6em;
  }
  ion-avatar img {
      max-width: 4.6rem;
      max-height: 4.6rem;
      border-radius: 2.3rem;
  }
  .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
  }
  .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
  }
}
.buttonInMenu {
  display: table-cell;
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 1.4em;
}
