<ion-header>
    <ion-navbar>

        <ion-title>
            {{ 'Favorite Events' | translate }}
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content>

    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher> -->

    <ion-list no-lines no-paddings>
        <div *ngFor="let service of services; let i=index" style="position:relative">
            <img class="bigImage" [src]="service.service.imageURL" (tap)="openServiceDetailsPage(service)">
            <div class="fab-bot-left">
                <span class="fab-bot-text">{{service.reviewNumber}}</span>
                <ion-icon name='chatboxes'></ion-icon>
            </div>

            <div class="fab-bot-right">
                <span class="fab-bot-text">{{(service.user || []).length}}/{{service.userNumberLimit}}</span>
                <ion-icon name='person'></ion-icon>
            </div>

            <a class="fab-favorite" (tap)="favoriteService(service)">
                <ion-icon name='heart-outline' *ngIf="alreadyLiked(service) == false"></ion-icon>
                <ion-icon name='heart' *ngIf="alreadyLiked(service) == true" style="color:pink"></ion-icon>
            </a>
            <div class="fab-bot-middle">
                {{service.service.serviceName}} {{service.creator.nickname}} {{service.pricing}}
            </div>
        </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
