<ion-header>
  <ion-navbar>
    <ion-title>
      My Products
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content #popoverContent>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!--  <ion-card class="adv-map">
    <img [src]=serviceProviderValidation.serviceProviderImageURL>

 <ion-card-content>
      <ion-card-title>{{serviceProviderValidation.serviceProviderName}}</ion-card-title>
      <p>{{serviceProviderValidation.serviceProviderIntroduction}}</p>
    </ion-card-content>

    <ion-row style="padding: 0 0.5em">
      <ion-col>
        <button ion-button clear style="padding: 0 0 0 0.3em">
          <ion-icon name='thumbs-up'></ion-icon>
          Like
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear (tap)="showCommentBox=!showCommentBox">
          <ion-icon name='text'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear style="padding: 0 0.3em 0 0">
          <ion-icon name='share-alt'></ion-icon>
          Check blog
        </button>
      </ion-col>
    </ion-row>

  </ion-card>-->

  <!-- <div [hidden]="!showCommentBox" style="padding: 0.5em">
    <div no-padding>
      <rating [(ngModel)]="rate"></rating>
    </div>
    <div>
      <ion-textarea placeholder="Input comment here" [(ngModel)]="comment" style="border-bottom-width: 1px"></ion-textarea>
    </div>

    <button ion-button style="float: right" (tap)="sendComment()">Comment</button>

  </div> -->


  <!-- <ion-card class="highLightsCard">
    <div class="spaceLine"></div>
    <ion-list *ngFor="let commentContent of serviceProviderValidation.comment">
      <ion-item>
        <p style="float:right">{{commentContent.posted | date:'yyyy/MM/dd hh:mm:ss'}}</p>
        <p>{{commentContent.username}}</p>
        <h3>{{commentContent.text}}</h3>
      </ion-item>
    </ion-list>
  </ion-card> -->


  <ion-list *ngFor="let product of serviceProviderDetails" approxItemHeight="50px">
    <ion-card class="adv-map">
      <div>
        <!-- <ion-slides [options]="mySlideOptions"> -->
        <div style="position: relative">
          <a (tap)="openProductDetailsPage(product)">
            <img class="bigImage" [src]="product.imageURL">
            <div class="card-title2">{{product.productName}}</div>
          </a>


          <!--<div class="feature"></div>-->
          <ion-row>
            <!--<ion-col width-25 *ngFor="let menuItem of grid">-->
            <div class="fab-time">
              <ion-icon name='time-outline'></ion-icon>
              <span class="fab-time-text">{{product.time}}分</span>
            </div>
            <!--</ion-col>-->
          </ion-row>

        </div>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
